body {
    background-color: rgb(238, 235, 235);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 1200px;
    margin: auto;
    padding-top: 100px;
}

#cabecalho {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
    margin-right: 50px;
}

.botao {
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: rgb(50, 196, 204);
    border-radius: 15px;
}

h1 {
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color:rgb(50, 196, 204);
    margin-top: -30px;
}

#corpo {
    /* background-color: rgb(38, 255, 0); */
    display: flex;
    justify-content: space-between;
}

#corpo article {
    margin: auto;
    padding-right: 50px;
    width: 500px;
}

.texto {
    color: rgb(13, 71, 113);
    font-size: 17px;
    margin: 45px 0px;
}

#destaque strong {
    color: rgb(6, 6, 97);
    font-size: 70px;
}

#lista-links {
    display: flex;
    justify-content: flex-start;
}

form {
    width: 300px;
}

footer p {
    color: aquamarine;
    font-size: 40px;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 3px solid rgb(28, 159, 176);
    border-radius: 15px;
}

fieldset label {
    margin: 10px 0px 2px 0px;
    font: 1em "Fira Sans", sans-serif;
    font-weight: 800;
}

fieldset input {
    height: 45px;
    margin-bottom: 10px;
    font-size: 18px;
    padding-right: 20px;
}

fieldset textarea, input {
    text-indent: 10px;
    border: 3px solid rgb(28, 159, 176);
    border-radius: 10px;
    font: 1em "Fira Sans", sans-serif;
}

#txt-mensagem {
    padding-top: 20px;
    height: 130px;
}

fieldset .botao {
    color: white;
    margin-top: 20px;
}